body {
  font-family: '微软雅黑', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: -10px;
}

/* ***** General ***** */
p,dt,dd {
  font: 400 15px/19px '微软雅黑', 'Roboto', sans-serif;
  color: #484848;
}

a {
  font-family: '微软雅黑', 'Roboto', sans-serif;
  text-decoration: none;
}

/* place link target below the header bar. The top padding should match the
header height */
.has-permalink:target {
  padding-top: 65px;
}

.docs p{
	letter-spacing:1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "微软雅黑";
	/*font: 400 46px/52px '微软雅黑', 'Montserrat', sans-serif;*/
	color: #484848;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.container-page {
  position: relative;
  z-index: 200;
  height: 100%;
  margin-bottom: 300px;
  padding-bottom: 50px;
  background-color: #fff;
}

.downloads{
	margin-top: 80px;	
}

.nowrap {
  white-space: nowrap;
}

.navbar-logo a{
	font-size: 25px;
}

.navbar-logo img{
	width: 35px;
	height: 35px;
	vertical-align:middle;
}

#navbar{
	padding-left: 40%;
}

.navbar-info.navbar{
	background-color: #FFFFFF;
  color: gray;
}

.navbar-nav .active{
		border-bottom: 2px solid #0066FF;
}

.disabled-block {
  background-color: transparent;
  width: 44px;
  height: 34px;
  position: absolute;
  top: 16px;
  right: 15px;
  z-index: 1;
}

/* ***** Carousel ***** */
.carousel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blade-carousel .carousel-indicators {
  bottom: -80px;
  width: 90%;
  margin-left: -45%;
}

.blade-carousel .carousel-indicators.icon-indicators {
  bottom: -100px;
}

.blade-carousel .carousel-indicators li {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: auto;
  height: auto;
  text-indent: 0;
  border: none;
  margin-right: 40px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.blade-carousel .carousel-indicators.icon-indicators li {
  padding-bottom: 20px;
}

.blade-carousel .carousel-indicators li.active {
  background: transparent url('../img/carousel-indicator.png') no-repeat center bottom;
}

.blade-carousel .carousel-indicators li:last-child {
  margin-right: 0;
}

.blade-carousel .carousel-indicators li:after {
  content: url('../img/carousel-lnk-divider.png');
  position: absolute;
  top: -4px;
  right: -35px;
}

.blade-carousel .carousel-indicators.icon-indicators li:after {
  top: 5px;
}

.blade-carousel .carousel-indicators li:last-child:after {
  content: none;
}

.amazing-apps .blade-carousel .carousel-inner > .item {
  min-height: 200px;
}

.blade-carousel .carousel-inner > .item > img {
  margin: 0 auto;
}

/* ***** Hero ***** */
.hero-hldr {
  background: #0084c5; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #0084c5 0%, #0489c3 36%, #30cabf 66%, #2fbcb2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#0084c5), color-stop(36%,#0489c3), color-stop(66%,#30cabf), color-stop(100%,#2fbcb2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #0084c5 0%,#0489c3 36%,#30cabf 66%,#2fbcb2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #0084c5 0%,#0489c3 36%,#30cabf 66%,#2fbcb2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #0084c5 0%,#0489c3 36%,#30cabf 66%,#2fbcb2 100%); /* IE10+ */
  background: linear-gradient(45deg,  #0084c5 0%,#0489c3 36%,#30cabf 66%,#2fbcb2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0084c5', endColorstr='#2fbcb2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  margin-top: 60px;
}

.hero {
  text-align: center;
  min-height: 420px;
  color: #fff;
}

.hero .download-btn {
  background: none;
  border: 1px solid #fff;
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 10px 46px 10px 66px;
  -webkit-transition: background ease-out 500ms;
  -moz-transition: background ease-out 500ms;
  -o-transition: background ease-out 500ms;
  transition: background ease-out 500ms;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
}

.hero .download-btn:hover {
  background:#fff;
  color:#0489c3;
  -webkit-transition: background ease-out 500ms;
  -moz-transition: background ease-out 500ms;
  -o-transition: background ease-out 500ms;
  transition: background ease-out 500ms;
}

.hero .version {
  font-size: 11px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 50px;
}

.hero h1 {
  color: #fff;
  margin-top: 60px;
  margin-bottom: 30px;
}

.hero ul {
  list-style: none;
  padding: 0;
}

.hero ul li {
  display: inline;
  margin-right: 10px;
  font-size: 20px;
}

.hero ul li:before {
  content: '\2713 \A0';
}

/* ***** Sub hero ***** */
.sub-hero-hldr {
  background: #006698;
}

.sub-hero {
  min-height: 40px;
  text-align: center;
}

.sub-hero p {
  margin: 10px auto;
  color: #a3cde1;
  font-size: 12px;
  line-height: 19px;
}

.sub-hero a {
  color: #fff;
}


.blade-container > section {
  margin-top: 65px;
  margin-bottom: 50px;
}

.blade-container .sec-shadow {
  padding-top: 40px;
  padding-bottom: 100px;
  background:
     url(../img/section-shadow-top.png) center top no-repeat,
     url(../img/section-shadow-bottom.png) center bottom no-repeat;
  background-size: 90% auto;
}

/* ***** Dart CTAs ***** */
.blade-ctas {
  margin-top: 65px;
  margin-bottom: 50px;
  text-align: center;
}

.blade-ctas a {
  color: #0084c5;
}

.blade-ctas a:hover {
  color: #0084c5;
  text-decoration: none;
}

.blade-ctas .timer {
  text-transform: uppercase;
  font-size: 12px;
  color: #777;
  margin-bottom: 30px;
}

/* ***** Browser support ***** */
.browser-support {
  margin-top: 65px;
}

/* ***** Dart is a new language ***** */
.blade-new-language {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blade-new-language h2{
	text-align: center;
}

.code-hldr {
  min-height: 450px;
  height: 450px;
}

.blade-libraries {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blade-libraries h2{
  text-align: center;
}

.arousel-inner p,img{
	text-align: center;
}

/* ***** Amazing Apps ***** */
.amazing-apps {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#amazing-apps-carousel {
  min-height: 300px;
}

#amazing-apps-carousel h4 {
  text-transform:none;
  font-family: "Roboto", sans-serif;
  font-size:30px;
  line-height:40px;
  font-weight:300;
  margin-top:40px;
  font-style:italic;
}

#amazing-apps-carousel p.person {
  font-size: 18px;
  font-weight:300;
  padding-top:30px;
  line-height:18px;
}

#amazing-apps-carousel p.company {
  font-size: 18px;
  font-weight:400;
  line-height:18px;
}

#amazing-apps-carousel .title {
  font-style:italic;
}

/* ***** Productivity Tools ***** */
.productivity-tools {
  text-align: center;
}

.productivity-tools img {
  margin: 15px 0 75px 0;
  width: 100%;
  max-width: 786px;
}

.productivity-tools p {
  max-width: 785px;
  margin-right: auto;
  margin-left: auto;
}

.productivity-tools p.version {
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;
}

.productivity-tools-options {
  margin-top: 40px;
  margin-bottom: 80px;
}

.editor-current-version {
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .productivity-tools-options h6 {
      margin-top: 35px;
      margin-bottom: 10px;
  }
}

.sub-page {
  margin-top:80px;
}

.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.affix {
  position: fixed;
}

/* Fix perf bug with desktop chrome */
.navbar-fixed-top,
.navbar-fixed-bottom {
  -webkit-transform: translateZ(0);
}

/* ***** Footer ***** */
.footer {
  background: #3f4245 url(../img/footer-bg.png) repeat-x left top;
  padding-top: 60px;
  padding-bottom: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  height: 300px;
  -webkit-transform: translateZ(0);
}

@media (max-width: 992px) {
  .footer {
    position: relative;
    height: auto;
  }
}

.footer h3 {
  font: 400 17px/24px 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  color: #fff;
}

.footer h4 {
  text-transform: uppercase;
  color: #1485c3;
}

.footer > * {
  color: #fff;
}

.footer p {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer p.sm {
  font-size: 9px;
  line-height: 16px;
}

.footer p > a {
  color: #fff;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  font-size: 11px;
  line-height: 16px;
}

.footer ul > li {
  margin-left: 0;
  margin: 8px 0;
}

.footer ul > li > a {
  color: #fff;
  font-size: 11px;
  line-height: 16px;
}

/* Disable numbing on toc elements */
.toc ol > li {
  list-style-type: none;
}

.toc li {
  list-style-type: none;
}

.toc a:hover {
  text-decoration: none;
}

/* Center link. */
.link {
  vertical-align: middle;
}

/* Maximum scaling for image at 100% */
.scale-img-max {
  max-width:100%;
  max-height:100%;
}

/* ***** Tutorials ***** */

.tute-target-title {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #D8ECFD; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(right, #D8ECFD, #DDFFDD, #e6E6FA); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(right, #D8ECFD, #DDFFDD, #e6E6FA); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(right, #D8ECFD, #DDFFDD, #e6E6FA); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(right, #D8ECFD, #DDFFDD, #e6E6FA); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to right, #D8ECFD, #DDFFDD, #e6E6FA); /* Standard syntax; must be last */
}

.tute-target-title h1 {
  font-size: 56px;
}

.tute-target-title h3 {
  padding-top: 15px;
  font-size: 28px;
}

.tute-tabs {
  margin-top: 40px;
}

.tute-tabs h4 {
  margin-top: 20px;
}

.running-app-frame {
  border-style:solid;
  border-width:1px;
  border-radius:7px;
  background-color:WhiteSmoke;
  padding:5px;
}

#under-construction {
  background-color: #F5E2FF;
  border-radius: 10px;
  border-width: 1px;
  margin: 15px 50px;
  padding: 10px;
}

#under-construction h3 {
  font-weight: bold;
  font-size: 16pt;
}

#under-construction .icon-wrench {
  font-size: 24pt;
}

.icon-info-sign {
  color: SlateBlue;
  font-size: 18pt;
  vertical-align: middle;
}

#whats-the-point {
  list-style-type: square;
  font-size: 9pt;

  padding: 10px;
  background-color: #D8ECFD;
  border-radius: 10px;

  margin: 0 0 15px;

/* colors from logo */
/*$blue-dark: #0081C6;*/
/*$blue-light: #00A4E4;*/
/*$green-dark: #00D2B8;*/
/*$green-light: #55DDCA;*/

}

#whats-the-point ul {
  padding: 0 0 0 20px;
}

#whats-the-point li {
  line-height: 120%;
  padding-bottom: 7px;
}

#whats-the-point h4 {
  padding-bottom: 0;
}

#tutorial-toc {
  list-style-type: square;
  font-size: 9pt;
  padding: 10px;
  background-color: #e6E6FA;
  border-radius: 10px;
  margin: 0 0 15px;
}

#tutorial-toc ul {
  margin: 0 0 0 15px;
}

#tutorial-toc li {
  line-height: 120%;
}

#tutorial-toc h4 {
  padding-bottom: 7px;
}


#tutorial-side {
  width: 200px;
  top: 129px;
}

/* ***** Up and running Book ***** */
.up-and-running-contents .navheader > table > tbody > tr > th {
  text-align: center;
}

.up-and-running-contents img {
  max-width:100%;
  max-height:100%;
}

/* ***** More books on dart ***** */
.book {
  margin-bottom: 2em;
}

.book img.cover {
  box-shadow: 8px 8px 15px #CCC;
}

/* ***** Dart Presentations ***** */
.presentation {
  margin-bottom: 2em;
}

/* ***** Permalink ***** */
a.permalink {
  font-family: 'Montserrat', sans-serif;
  margin-left: 0.5em;
  display:none;
}

.has-permalink:hover > a.permalink {
  display:inline;
}

.subnav li{
	margin-left: 40px;
	padding: 0;
}


/* Disable the download buttons by default.
 * Let scripts.js enable all download buttons
 * and os choices dialog.
 */
.download-buttons, .os-choices {
  display: none;
}

/* Spacing for definition lists. */
dl {
  margin-bottom:22px
}

dt, dd {
  line-height:22px
}

dt{
  font-weight:bold
}

dd{
  margin-left:11px;
  margin-bottom:11px;
}

.remark {display:none;}

/* Synonym */

#synonym-meat h1 {
  border-left: 5px solid gray;
  padding-left: 5px;
  font-size: 35px;
}

#synonym-meat h2 {
  font-size: 25px;
}

@media (max-width: 768px) {
  #synonym-meat h1 {
    font: 400 25px '微软雅黑', 'Montserrat', sans-serif;
  }

  #synonym-meat h2 {
    font: 400 15px '微软雅黑', 'Montserrat', sans-serif;
  }
}

.synonym .language-choice select {
  width: 240px;
  height: 40px;
  font-size: 25px;
  -webkit-appearance: menulist-button;
  margin-top: 20px;
  color: #484848;
}

.synonym nav ul {
  -moz-column-count: 3; /* Firefox */
  -webkit-column-count: 3; /* Safari and Chrome */
  column-count: 3;
  padding-left: 0;
  list-style: none;
}

.synonym nav ul li {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .synonym nav ul {
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari and Chrome */
    column-count:2;
  }
}

@media (max-width: 420px) {
  .synonym nav ul {
    -moz-column-count:1; /* Firefox */
    -webkit-column-count:1; /* Safari and Chrome */
    column-count:1;
  }
}

.titlepage h3 {
  font: 400 26px/32px 'Montserrat', sans-serif;
}
/* ***** baidu share ***** */
.alignRight{
	float:right;
}

i.sprite-icon-social-weibo {
  background-position: 0 -350px;
  margin-left: 0px;
}
